*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    font-family: Lalezar;
    font-size: 1.2rem;
    font-weight: normal;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    width: 90vw;
    height: 100vh;
}

.panel{
    position: relative;
    flex: 0.5;
    height: 80%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2.5rem;
    transition: all 0.4s;
    cursor: pointer;
}

.panel:hover{
    box-shadow: 0.1rem 0.1rem 1rem 0.1rem #000;
}

.panel h3{
    position: absolute;
    left: 1rem;
    top: 0.3rem;
    color: #fff;
    opacity: 0;
    transition: all 0.7s;
}

.active{
    flex: 6;
}

.active h3{
    opacity: 1;
}